
/* navbar */
.navbar {
  display: flex;
  align-items: center;
  background-color: #0d253f;
  padding: 10px 20px;
  width: 100%;
  justify-content: space-around !important;
  position: fixed;
}

.navbar-brand {
  width: 150px;
  margin: 20px;
}

.nav-link {
  color: white !important;
  font-weight: bold !important;
}

.poster {
  margin-top: 50px !important;
}

.poster img {
  border-radius: 12px;
  transition: transform 0.3s ease;
}
.poster img:hover {
  transform: scale(0.95);
}