/* html {
  font-family: 'Montserrat', sans-serif;
  background-color: aquamarine;
} */



/* navbar */
.navbar {
  display: flex;
  align-items: center;
  background-color: #0d253f;
  padding: 10px 20px;
  width: 100%;
  justify-content: space-around !important;
  position: fixed;
}

.navbar-brand {
  width: 150px;
  margin: 20px;
}

.nav-link {
  color: white !important;
  font-weight: bold !important;
}

/* pagina principal */

.image {
  margin-top: 50px !important;
}

.image img {
  border-radius: 12px;
  transition: transform 0.3s ease;
}
.image img:hover {
  transform: scale(0.95);
}
/* 
.pg {
  box-sizing: border-box;
background-color: blue;
} */


/* pagines internes */
.poster-detail {
  margin: 2rem;
  border-radius: 12px;
  width: 250px;
}

.info-film {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:20px;
  font-family: 'Montserrat', sans-serif;
}

.overview{
  width: 70%;
  text-align: center;
} 

.no-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;  
  text-align: center;
  border: 2px solid #000;
  border-radius: 12px;
}
.no-image:hover{
  transform: scale(0.95);
}